@import "../../styles/vars";

#cameraView {
    margin: auto;
}

.tick-manager-container {
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 20px;
    background-color: $tercaryColor;
    margin: 30px;
    color: white;
    height: 7vh;
}


.contentBox {
    width: 40%;
    height: 50vh;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
}

.boxRemove {
    width: 80%;
    height: 15vh;
    background-color: $mainColor;
    border-radius: 10px;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        width: 50px;
        height: 50px;
        background-color: white;
        border: none;
        border-radius: 10px;
        font-size: 2rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        width: 40px;
        height: 40px;
        background-color: $secondaryColor;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem !important;
        border-radius: 5px;
    }
}

.recordButton{
    width: 90%;
    height: 10vh;
    background-color: $secondaryColor;
    margin: auto;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    transition: 200ms ease-in-out;

    &:hover{
        scale: 0.9;
        opacity: 0.8;
        transition: 200ms ease-in-out;
    }
}