<section class="container-fluid p-5 d-block d-lg-flex grid gap-5">
    <div class="tick-manager-container w-100 w-lg-50 mt-5">
        <div class="w-100">
            <label for="commandId"> informe a comanda do cliente: </label>
            <input type="text" class="form-control" [formControl]="controlCommand" placeholder="ex:234" id="commandId">
        </div>
        <button type="button" (click)="getOrderProducts()"> buscar </button>
    </div>
    <article class="contentBox d-flex flex-column w-100 w-lg-50" *ngIf="this.OrderProducts?.quantity > 0">
        <h2 class="mx-auto"> Fixas restantes do cliente: {{ OrderProducts?.quantity }} </h2>
        <hr>
        <p class="mx-auto"> A retirar </p>
        <div class="boxRemove">
            <button (click)="addToRemove()" class="text-dark"> + </button>
            <span> {{ amountToRemove }} </span>
            <button (click)="lessToRemove()" class="text-dark"> - </button>
        </div>
        <button class="recordButton mt-4" (click)="confirmRemove()">
            confirmar retiro
        </button>
    </article>
</section>