@import "../../styles/vars";

#cameraView {
    margin: auto;
}

#cameraContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

button{
    border: none;
    border-radius: 20px;
    background-color: $tercaryColor;
    margin: 30px;
    color: white;
    height: 7vh;
}

video{
    background-color: red;
}