<button class="btn btn-icon mt-3" (click)="openShoppingCart()">
    <i class="fi fi-rr-shopping-cart"></i>
</button>

<div class="backgroundCurtain" id="backgroundCurtain"></div>

<section class="shoppingCart p-2" id="shoppingCart">
    <h3 class="w-100 text-center"> Carrinho de compras </h3>
    <button class="btn btn-icon closeCollapse" (click)="closeShoppingCart()">
        <i class="fi fi-rr-arrow-small-right"></i>
    </button>

    <ul class="shoppingCart-menu mt-3">
        <li *ngFor="let product of this.mapEntries(this.productsOfShoppingCart)">
            <ng-container *ngIf="isProduct(product)">
                <div class="d-flex shoppingCart-item my-1 p-2" id="product-{{product.productId}}">
                    <p class="me-2"> {{ product.productName }} </p>
                    <div class="d-flex ms-auto me-1">
                        <button type="button" (click)="this.addOneItem(product)"
                            class="btn btn-secondary d-flex align-items-center btn1"> + </button>
                        <p class="mx-3"> {{ product.quantity }} </p>
                        <button type="button" (click)="this.removeOneItem(product)"
                            class="btn btn-secondary d-flex align-items-center btn2"> - </button>
                    </div>
                </div>
            </ng-container>
        </li>
    </ul>
    <div class="d-flex me-3 mt-auto">
        <button type="button" class="btn btn-success mx-3 ms-auto" (click)="confirmSale()"> confirmar </button>
        <button type="button" class="btn btn-danger" (click)="cancel()"> cancelar </button>
    </div>
</section>