<section class="dash-board">
    <div class="dash-area d-flex flex-wrap justify-content-center mb-5 mt-5 border">
        <h3 class="me-auto m-auto"> top 5 produtos vendidos </h3>
        
    </div>
    <div class="dash-area d-flex flex-wrap justify-content-center p-5 mb-5 mt-5 border">
        <h3 class="me-auto mx-auto"> Venda Total dos Produtos </h3>
        
    </div>
    <h3 class="me-auto mx-auto"> top 5 pordutos ao decorrer das horas </h3>
    <div class="w-100 mx-5">
        
    </div>
</section>