<section class="container-fluid p-2 py-5 d-flex justify-content-between main">
    <div class="row row-cols-1 row-cols-md-3 mx-5 card-group cards-menu">
        <div class="card py-5 col-12 col-md-4">
            <a routerLink="newProduct">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center mb-5">
                        <img class="card-img w-50" src="../../../../assets/images/caderno.png" alt="caderno de vendas">
                    </div>
                    <h3 class="card-title">
                        inseir novo produto
                    </h3>
                </div>
            </a>
        </div>

        <div class="card py-5 col-12 col-md-4 teste">
            <a routerLink="selectProducts">
                <div class="card-body text-center">
                    <div class="d-flex justify-content-center mb-5">
                        <img class="card-img w-50" src="../../../../assets/images/sale.png" alt="iniciar nova venda">
                    </div>
                    <h3 class="card-title">
                        iniciar nova venda
                    </h3>
                </div>
            </a>
        </div>

        <div class="card py-5 col-12 col-md-4">
            <div class="card-body text-center">
                <div class="d-flex justify-content-center mb-5">
                    <img class="card-img w-50" src="../../../../assets/images/delete.png" alt="caderno de vendas">
                </div>
                <h3 class="card-title">
                    deletar produto
                </h3>
            </div>
        </div>
    </div>
</section>