<section class="shoppingCart" id="shoppingCart">
    <h3 class="text-center w-100"> Carrinho de compras </h3>

    <ul *ngIf="this.products.size > 0" class="shoppingCartMenu">
        <li *ngFor="let item of this.mapEntries()" class="d-flex shoppingCart-item my-1 p-0">
            <ng-container *ngIf="isProduct(item)">
                <p class="me-2"> {{ item.productName }} </p>
                <div class="d-flex ms-auto me-1">
                    <button type="button" (click)="this.addOneItem(item)" class="btn btn-secondary d-flex align-items-center btn1"> + </button>
                    <p class="mx-3"> {{ item.quantity }} </p>
                    <button type="button" (click)="this.removeOneItem(item)" class="btn btn-secondary d-flex align-items-center btn2"> - </button>
                </div>
            </ng-container>
        </li>
    </ul>
</section>