<div class="container-fluid p-0">
    <div class="blusStrip"></div>
    <section class="main p-0">
        <div class="card main-card">
            <form>
                <div class="form-group">
                    <label for="productName" clasd="form-label "> Nome do produto: </label>
                    <input type="text" value="{{product.productName}}" id="productName" class="form-control">
                    <span class="invalid-feedback text-white bg-danger rounded p-1"> </span>
                </div>
                <div class="form-group my-3">
                    <label for="productQuantity" clasd="form-label "> Quantiedade no estoque: </label>
                    <input type="text" [value]="product.productQtde || ''" id="productQuantity" class="form-control">
                    <span class="invalid-feedback text-white bg-danger rounded p-1"> </span>
                </div>
                <div class="form-group">
                    <label for="productPrice" clasd="form-label "> Preço do produto: </label>
                    <input type="text" [value]="product.productPrice || ''" id="productPrice" class="form-control">
                    <span class="invalid-feedback text-white bg-danger rounded p-1"> </span>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-success mx-3"> confirmar </button>
                    <button type="button" class="btn btn-danger" (click)="this.cancel()" > cancelar </button>
                </div>
            </form>
        </div>
    </section>
</div>