<section class="container-fluid p-0 h-100 main p-3">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Quantiedade</td>
                <td> Preço </td>
                <td scope="row" class="d-none d-md-table-cell"></td>
            </tr>
        </thead>

        <tbody>
            <tr data-bs-toggle="modal" data-bs-target="#deleteOrEdit">
                <td>1</td>
                <td>luiz</td>
                <td>10</td>
                <td>54.90</td>
                <td class="d-none d-md-flex grid gap-2 justify-content-end">

                    <button type="button" class="btn btn-danger w-50 pt-2">
                        <span>
                            <i class="fi fi-rr-circle-trash"></i>
                        </span>
                    </button>

                    <button type="button" class="btn btn-warning w-50 pt-2">
                        <span>
                            <i class="fi fi-rr-pencil"></i>
                        </span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

  
  <!-- Modal -->
  <div class="modal fade" id="deleteOrEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Produto -  </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body grid gap-2 d-flex">
            <button type="button" class="btn btn-danger pt-2" style="width: 40%;">
                <span>
                    Deletar
                    <br>
                    <i class="fi fi-rr-circle-trash"></i>
                </span>
            </button>

            <button type="button" class="btn btn-warning pt-2" style="width: 40%;">
                <span>
                    Editar 
                    <br>
                    <i class="fi fi-rr-pencil"></i>
                </span>
            </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
        </div>
      </div>
    </div>
  </div>