<section>
    <app-warning-handler></app-warning-handler>

    <div class="d-flex justify-content-center align-items-center">
        <img src="../../../../assets/images/ifprLogo.png" alt="ifprBanner" class="logoBanner">
        <div class="cardLogin">

            <router-outlet></router-outlet>

            <div class="d-flex mt-5">
                <a class="btn btn-btnLink ms-auto"> esqueci a senha </a>
                <a class="btn btn-btnLink ms-auto" routerLink="createAccount"> novo usuario </a>
            </div>
        </div>
    </div>
</section>